body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}
nav {
  display: flex;
  overflow-x: auto;
  background: #f0f0f0;
  padding: 20px;
}
nav button {
  margin: 5px;
  padding: 25px 25px;
  border: none;
  background: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
iframe {
  flex: 1;
  height: 80vh;
  border: none;
}
